body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    color: #ff6600;
    margin-bottom: 10px;
}

.header p {
    color: #666;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    flex-grow: 1;
}

.options a {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ff6600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.options a:hover {
    background-color: #ff4d00;
}

.image {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
    border-radius: 20px; /* Ajusta el radio para hacer esquinas más redondeadas */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra suave */
    transition: transform 0.5s ease; /* Agrega una transición suave para transformaciones */
}

.image:hover img {
    transform: scale(1.1); /* Hace que la imagen se agrande ligeramente al pasar el ratón */
}
