body{
    background-image: url(/images/fondo1.jpeg);
    background-size: cover;

}

.contenedor{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 900px; /* Opcional: limita el ancho máximo */
    height: 70vh; /* Usa vh para hacerlo relativo al tamaño de la ventana */
    background-color: white;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.cliente-formulario{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-top: 40px;
}

button{
    display: inline-block;
    padding: 15px 30px;
    background-color: #FFC343;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 40px;
    margin-left: 170px;
}

h1{
    padding: 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    color: black;
}