body{
    background-image: url(/images/FEATURE_IMAGE.jpg);
}

.contenedor{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 2500px; /* Opcional: limita el ancho máximo */
    height: 80vh; /* Usa vh para hacerlo relativo al tamaño de la ventana */
    background-color: white;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex;
    justify-content: space-between; /* Espacio entre los divs */
}

#detalles{
    width: 45%; /* Ancho de cada div (ajusta según necesites) */
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    width: 50%; /* Ancho de la mitad del contenedor */
    padding-left: 20px;
    padding-top: 20px;
}

.imagenes div {
    width: calc(50% - 20px); /* Calcula el ancho de cada div de imagen */
    margin: 5px; /* Margen entre las imágenes */
    max-width: 100%;
}

.imagenes img {
    width: 250px;
    height: 250px;
}

.texto {
    width: 30%; /* Ancho del lado derecho del contenedor */
    margin: 0 0 20px 0; /* Margen inferior para separar de las imágenes */
    align-content: center;
    padding-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton {
    display: inline-block;
    padding: 15px 30px;
    background-color: #FFC343;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

#referencia{
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
